/* Barre de lien */
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
.nav-link, .navbar-brand 
{  
	color: black;   
	cursor: pointer; 
} 

.nav-link 
{   
	margin-right: 1em !important;
}

.nav-link:hover
{   
	color: white;
	background-color: black;
} 

.navbar-collapse
{   
	justify-content: flex-end;
}

.container img
{
	width: 100px;
	height: 200px;
	border: 2px black solid;
}

.features 
{  
	margin: 4em auto; 
	padding: 1em;   
	position: relative; 
} 
 
.feature-title 
{   
	color: #333;   
	font-size: 1.3rem;   
	font-weight: 700;   
	margin-bottom: 20px;    
} 
 
.features img 
{   -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);   
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);   
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);   
	margin-bottom: 16px; 
}

.features .form-control, .features input 
{     
	border-radius: 0; 
} 
 
.features .btn 
{   background-color: #589b37;   
	border: 2px solid #589b37;   
	color: #fff;   
	margin-top: 20px; 
} 
 
.features .btn:hover 
{   background-color: #333;  
 border: 2px solid #333; 
}

.page-footer 
{   
	background-color: black;   
	color: white;   
	padding: 60px 0 30px;
	max-height: 150px;
}

.page-footer img
{
	width: 70px;
	height: 70px;
}

#footer
{
	display: flex;
	flex-direction: row;
}

#contact
{
	width: 150px;
}

#follow
{
	margin-top: -25px;
}

#info
{
	width: 350px;
	margin-top: -10px;
}

#tel
{
	margin-right: 100px;
	margin-top: -10px;
}